/* // import styled from 'styled-components';
// export const Container = styled.section``; */

.container {
    /* position: absolute; */
    background: #A6955A;
    width: 1345px;
    height: 29px;
}
    