.containerCasa {
    background-image: url("../../public/assets/background_harry_azul_marinho_1.png");
    /* //background-repeat:; */
    width: 1345px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 8910px;
}

.headerPersonagens {
    background-image: url("../../public/assets/topo.png");
    display: flex;
    width: 1345px;
    height: 103px;
    justify-content: center;
}

.imgTopo {
    background-image: url("../../public/assets/logo_harry_potter_wizard3_1.png");
    background-repeat: no-repeat;
    width: 203px;
    margin-top: 14px;
}

.imgFundo {
    height: 730px;
    width: 1345px;
    border-radius: 0px;
    margin-bottom: 1670px;
    margin-left: 6px;
}
.imgLogo1 {
    background-image: url("../../public/assets/hogwarts_shield_1.png");
    background-repeat: no-repeat;
    width: 73px;
    height: 84px;
    margin-right: -7px;
    margin-top: 28px;
}

.p1 {
    width: 270px;
    margin-top: 37px;
    margin-left: 11px;
    font-family: 'Arial';
    font-size: 24px;
    color: #A6955A;
    text-align: center;
}

.logoLinha {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: -28px;
    width: 1285px;
    margin-left: -10px;
}

.imgLinha {
    background-image: url('../../public/assets/Linha-home.png');
    width: 802px;
    height: 2px;
    margin-top: 73.5px;
    margin-right: 37px;
}

.cardContainer {
    display: flex;
    width: 1260px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 25px;
}

.cardContainer img {
    width: 200px;
    height: 227px;
    margin-left: 50px;
}

.personagemNome {
    color:#A6955A;
    width: 205px;
    margin-left: 47px;
    text-align: center;
}

.studentst{
background-color: red;
width: 200px;
height: 250px;
}

.alunos{
background-color: blue;
width: 200px;
height: 250px;
}

.listPersonagens{
background-color: green;
width: 200px;
height: 250px;




}