.containerPersonagens {
  background-image: url('../../public/assets/background_harry_azul_marinho_1.png');
  width: 1345px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 8910px;
}

.headerPersonagens {
  background-image: url('../../public/assets/topo.png');
  display: flex;
  width: 1345px;
  height: 103px;
  justify-content: center;
}

.containerLogos {
  width: 1280px;
  height: 53px;
}

.imgTopo {
  background-image: url('../../public/assets/logo_harry_potter_wizard3_1.png');
  background-repeat: no-repeat;
  width: 203px;
  margin-top: 14px;
  cursor: pointer;
}

.imgFundo {
  width: 1345px;
  margin-bottom: 1750px;
}

.cardContainer {
  display: flex;
  width: 1184px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 72px;
  margin-top: 31px;
  align-content: center;
}

@media screen and (max-width: 360px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

.cardContainer img {
  width: 200px;
  height: 268px;
  margin: 2px 1px;
}

.personagemNome {
  color: #a6955a;
  width: 203px;
  margin-top: 0;
  text-align: center;
}

.listPersonagens {
  background: #000;
  width: 200px;
  height: 268px;
  height: 268px;
  margin: 41px 0px;
}

.imgLogo1 {
  background-image: url('../../public/assets/hogwarts_shield_1.png');
  background-repeat: no-repeat;
  width: 73px;
  height: 84px;
  margin-left: 34px;
  margin-top: 28px;
}

@media screen and (max-width: 360px) {
  .imgLogo1 {
    width: 9%;
    height: 84px;
    margin-top: 30px;
  }
}

.p1 {
  width: 270px;
  margin-top: 37px;
  margin-left: 11px;
  font-family: 'Arial';
  font-size: 24px;
  color: #a6955a;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 360px) {
  .p1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    margin-bottom: -63px;
    margin-left: -18px;
  }
}

.logoLinha {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 1285px;
  margin-left: -10px;
}

@media screen and (max-width: 360px) {
  .logoLinha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-top: 127px;
  }
}

.imgLinha {
  background-image: url('../../public/assets/Linha-home.png');
  width: 802px;
  height: 2px;
  margin-top: 73.5px;
  margin-right: 37px;
}

@media screen and (max-width: 360px) {
  .imgLinha {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 88px;
  }
}

.containerModal {
  display: flex;
  width: 704px;
  height: 453px;
  background: #171717;
  flex-direction: column;
  border-radius: 10px;
}

.chave {
  cursor: pointer;
  background-color: #000;
  height: 302px;
  width: 203px;
  margin-top: 13px;
}
