.footerContainer {
    position: relative;
    display: flex;
    width: 1245px;
    height: 288px;
    margin-left: 48px;
    margin-bottom: 0;
    border-radius: 0px;
    flex-direction: row;
    justify-content: space-between;
}

.imgGrifinoria {
    background-image: url("../../public/assets/grifinoria.png");
    width: 272px;
    height: 288px;
    margin-left: 14px;
    bottom: 75px;
    border-radius: 0px;
    position: absolute;
}

.imgSonserina {
    background-image: url("../../public/assets/sonserina.png");
    width: 272px;
    height: 288px;
    left: 330px;
    bottom: 75px;
    border-radius: 0px;
    position: absolute;
}


.imgLufaLufa {
    background-image: url("../../public/assets/lufa-lufa.png");
    width: 272px;
    height: 288px;
    margin-left: 640px;
    bottom: 75px;
    border-radius: 0px;
    position: absolute;
}

.imgCorvinal {
    background-image: url("../../public/assets/corvinal.png");
    width: 272px;
    height: 288px;
    left: 954px;
    bottom: 75px;
    border-radius: 0px;
    position: absolute;
}


@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {}