.footer {
    display: flex;
    width: 1245px;
    height: 288px;
    margin-left: 48px;
    margin-bottom: 0;
    border-radius: 0px;
    flex-direction: row;
    justify-content: space-around;
}

/* .footerImg {
    display: flex;
    position: absolute;
} */

.imgGrifinoria {
    background-image: url("../public/assets/grifinoria.png");
    width: 272px;
    height: 288px;
    margin-left: 299px;
    /* margin-top: -288px; */
    border-radius: 0px;
    background: blue;

}

.imgSonserina {
    background-image: url("../public/assets/sonserina.png");
    width: 272px;
    height: 288px;
    margin-left: 592px;
    /* margin-top: -288px;   */
      border-radius: 0px;
      background: yellow;

}

.imgLufaLufa {
    background-image: url("../public/assets/lufa-lufa.png");
    width: 272px;
    height: 288px;
    margin-left: 886px;
    /* margin-top: -288px; */
    border-radius: 0px;
    background: orange;

}

.imgCorvinal {
    background-image: url("../public/assets/corvinal.png");
    width: 272px;
    height: 288px;
    margin-left: 1179px;
    /* margin-top: -288px; */
    border-radius: 0px;
    background: green;
}