
.container{
width: 100vw;
height: 100vh;
position: fixed;
background: rgba(0, 0, 0, 0.3);
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
z-index: 9999;
}
.content {
display: flex;
width: 704px;
height: 453px;
background: #171717;
flex-direction: column;
border-radius: 10px;
}
.headercontent{
display: flex;
justify-content: flex-end;
flex-direction: row;
}

.main{
display: flex;
justify-content: center;
}

.img{
height: 356px;
margin-right: 20px;
}

.props{
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 11px;

}

.text{
color: #A6955A;
}
.color{
color: white;
margin-left: 10px;
}
.fechar{
display: flex;
margin: 10px 10px 20px 0px;
align-items: center;
justify-content: center;
background-color: #A6955A;
border-radius: 50px;
width: 25px;
height: 25px;
color: #031C29;
cursor: pointer;
font-weight: 900;
}
.alinhar{
padding: 0px 0px 0px 20px;
}