.containerPersonagens {
    background-image: url("../../public/assets/background_harry_azul_marinho_1.png");
    width: 1345px;
}

.headerPersonagens {
    background-image: url("../../public/assets/topo.png");
    display: flex;
    width: 1345px;
    height: 103px;
    justify-content: center;
}

.imgTopo {
    background-image: url("../../public/assets/logo_harry_potter_wizard3_1.png");
    background-repeat: no-repeat;
    width: 203px;
    margin-top: 14px;
}

.imgFundo {
    height: 730px;
    width: 1345px;
    border-radius: 0px;
    margin-top: 18px;
}

.imgLogo1 {
    background-image: url("../../public/assets/hogwarts_shield_1.png");
    background-repeat: no-repeat;
    width: 73px;
}

.p1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-top: 37px;
    color: #A6955A;
}

.logoLinha {
    display: flex;
    justify-content: space-evenly;
    margin-top: 61px;
    width: 1345px;
}

.imgLinha {
    background-image: url("../../public/assets/Linha-home.png");
    background-repeat: no-repeat;
    width: 802px;
    margin-top: 49.5px;
}