.container{
    width:1345px;
    }
    
    .imgLogo1 {
    background-image: url("../public/assets/hogwarts_shield_1.png");
    background-repeat: no-repeat;
    width: 73px;
    height: 84px;
    }
    
    .p1 {
    width: 270px;
    margin-top: 37px;
    margin-left: 59px;
    font-family: 'Arial';
    font-size: 24px;
    color: #A6955A;
    }
    
    
    .imgLinha {
    background-image: url("../public/assets/Linha-home.png");
    background-repeat: no-repeat;
    width: 802px;
    margin-top: 49.5px;
    margin-left: 25px;
    }
    
    .logoLinha {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: 104px;
    width: 1285px;
    }